@import "variables";

.bx-core {
    & body{
        padding-top: 64px !important;
    }
    & .header{
        .header__top-block{
            display: none;
        }
    }
}

.v-form {
    & .row{
        margin-top: 0;
        margin-bottom: 0;
        & .col{
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}


@media screen and (max-device-width: 600px) {
}