@import "variables";

.bx-core {
    & body{
        padding-top: 64px !important;
    }
    & .header{
        .header__top-block{
            display: none;
        }
    }
}

.v-form {
    & .row{
        margin-top: 0;
        margin-bottom: 0;
        & .col{
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.theme--light.v-data-table {
    & > thead > tr > th {
        vertical-align: top;
    }
    .col-fixed {
        max-width: 18rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    tbody {
        tr.v-data-table__selected {
            color: #fff;
            background-color: var(--v-primary-base) !important;
            & .v-icon{
                color: #fff;
            }
        }
    }
}


@media screen and (max-device-width: 600px) {
}